<?xml version="1.0" encoding="utf-8" ?>


<configuration>
 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <appSettings>  
    <add key="BaseUrl" value="http://10.50.30.14/ercms/api/"/>   
    <add key="ProductKey" value="t0102MQEAACl13kZX8MJu/rFO4ZAmchpBdz255krN4Tgel20gc1ky2xuWx3n2hn2/9PD+fDmqNMWycAj3sr+LgzPZS4JOwz5iRqZQxFjMVH7l4R+vvANb96Qt9ipyM586pjZ/zQMJuD6v" />         
    <add key="Tessdata" value="D:\\OCRService\\OCRBackgroundService\\OCRBackgroundService\\OCR\\tessdata"/>    
    <add key="SERVICENAME" value="OCRBackgroundService"/>
    <add key="SERVICEDESC" value="This is service to implement ocr for document" />    
    <add key="INTERVAL" value="15000" />
    <add key="Filter" value="0"/>
	  <add key="ApiKey" value="MySecretAPI123Key"/>
    <add key="FileFormats" value=".pdf;.docx;.doc;.odt;.rtf;.txt;.tex;.wpd;.ods;.xls;.xlsm;.xlsx;.key;.odp;.pps;.ppt;.pptx;.ai;.bmp;.gif;.ico;.jpeg;.jpg;.png;.ps;.psd;.svg;.tif;.tiff;.csv;"/>
    <add key="ExcludeForOCR" value=".docx;.doc;.odt;.rtf;.txt;.tex;.wpd;.ods;.xls;.xlsm;.xlsx;.key;.odp;.pps;.ppt;.pptx;.csv;"/>
  </appSettings>
</configuration>
  <!-- <log4net>
   <add key="CreateOCR" value="Attachment/CreateOCREntry"/>
    <add key="GetOCR" value="Attachment/GetPendingOCRAttachments?Count="/>
  value="t0102MQEAAIjZ9wbxr9RUOUAlNTpEpiHBH3fFrTC6ZQYEstXOvMdNi+lOSekw0LrX6Wsj4ZNwvIHXH66NNmd1EqMLs5/wvxiIGZlGEVNipvKrD/9k7RnYujdtcZbKzXz6FBVTERsFfD61"/>
   <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="D:\\OCRService\\OCRBackgroundService\\OCRBackgroundService\\Logs\\Log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>

 <add key="SourceInputAttachmentFolder" value="D:\\Attachments" /> 
<log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="D:\\OCRService\\OCRBackgroundService\\OCRBackgroundService\\Logs\\Log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <add key="TargetOCRFolder" value="D:\\OCROutput" />
  -->